@import '../App.scss';

.about, .title{
  margin-top: 8rem;
}

.title {
  margin-bottom: 3rem;
}

h3 {
  margin: 3rem 0 -1rem 0;
}

.position {
  margin-top: 1rem;
}


span {
  color: $g;
  text-decoration: none;
}

.content { 
  display: flex;
  flex-direction: column;
  gap: 1rem;
}