@import "@/App.scss";

.dock {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  padding: 10px;
  border-radius: 18px;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%);
  z-index: 999;
  background: $bt;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(20px);
  outline: 2px solid $bl;

  img {
    height: 5.2rem;
  }
  [data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ;
    visibility: visible;
  }
  
  [data-title]:after {
    content: attr(data-title);
    background-color: $bl;
    color: $w;
    font-size: 1.8rem;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 0%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
    border-radius: 5px;
  }
  
  [data-title] {
    position: relative;
  }
}
