$b: #1C1C1E;
$bt: #1c1c1e81;
$bl: #2C2C2E;
$w: #F2F2F7;
$g: #8E8E93;

#root {
  max-width: 740px;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}

:root {
  color: $w;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: $b;
  padding: 0;
  box-sizing: border-box;
  max-width: 740px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
}

.hero {
  margin-top: 28%;

  h1, h2 {
    text-align: center;
    font-weight: 700;
  }
}

h1 {
  font-size: 2.6rem;
  color: $g;
}

h2 {
  font-size: 4.2rem;
  color: $w;
  margin-top: -1rem;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  color: $w;
}

p {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: left;
}

a {
  color: $w;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: left;
}

span {
  color: $g;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: left;
  display: inline;
}

::-moz-selection {
  color: $w;
  background: $bl;
}

::selection {
  color: $w;
  background: $bl;
}

::-webkit-scrollbar { 
  display: none; 
}